name: GraphQL
on: [push, pull_request]
      
jobs:
  Inspector:
    name: GraphQL Inspector
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      ACTIONS_STEP_DEBUG: true
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: graphql-inspector
        uses: kamilkisiela/graphql-inspector@master
        if: always()
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          schema: 'master:foo/bar/baz/schema.graphql'
          annotations: true
